.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #0070a8 0%, #17cae7 100%);
  min-height: 100vh;
  min-width: 100vw;
}

.boards-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  width: 100%;
  user-select: none;
}
.stage-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  margin-bottom: 10px;
  overflow-x: auto;
  width: 98vw;
  height: 91vh;
  overflow-y: scroll;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 15px;
  margin: 0.5vw;
  min-width: 21vw;
  border-radius: 10px;
  background: #e2e4e6;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  width: 20vw;
  margin: 0.5vw 0;
  background-color: white;
}

.board-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.stage-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



/* ################### */

.stage-name{
  margin: 5px 0;
}

.board-title{
  margin: 5px;
}

.stage button{
  align-self: center;
}

span.task-content{
  height: 8vh;
}

.stage div:nth-child(2) {
  min-width: 18vw;
  min-height: 10px;
}

.board-btn{
  display: block;
  position: absolute;
  top: 2vh;
  right: 2vw;
}